test --test_output=errors

build:clang --copt="-DCOMPILER_CLANG"
build:gcc --copt="-DCOMPILER_GCC"
build:linux --copt="-DPLATFORM_LINUX"

build --incompatible_remove_native_http_archive=false
build --nocheck_visibility
